body{
  margin: 0;
  padding: 0;
}

nav{
    
    max-width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display:flex;
    gap: 32px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
nav .menu a{
    font-size: 20px;
    color: #000000;             
    text-decoration: none;
}
/* header btn */
.btn{
    background-color:#30B868;
    border: none;
    padding:12px 16px ;
    border-radius: 4px;
    font-size: 20px;
    font-weight:bold ;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: #2279c5;
}
#Hero {
    width: 100%;
    min-height: 1080px;
    background: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.hero-content {
    text-align: center;
    color: white;
}

.btn-type {
    display: inline-flex;
    background: white;
    color: #469165;
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 15px;
    cursor: pointer;
}
.btn-type:hover{
    background-color: #123354;
}


#Hero .hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.5;
}
.Green-color{
    color: #30B868;
}

#Hero .hero-content p {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;
    opacity: 0.9;
}
.buttons-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn1 {
    background-color: #3e8e5f;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.btn1:hover{
    background-color: #0e77d2;
}
.btn2:hover:hover{
    background-color: #af0707;
}
.problem-section {
    padding: 100px 20px;
    padding-bottom: 0;
    text-align: center;
    background-color: #f8f6f6;
}

.Notes-titlle {
    font-size: 32px;
    color: #001931;
    margin-bottom: 15px;
}

.Notes-subtitle {
    color: #627382;
    margin-bottom: 50px;
}

/* Grid-Layout-for-Cards */
.card-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    max-width: 1100px;
    padding-bottom: 0px;
    margin: 0 auto;
}

/* Individual-Card-Styling */
.card {
    background: #fff;
    padding: 40px 25px;
    border-radius: 10px;
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px #777;
}

/* Icon Styles */
.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    color: white;
    font-size: 20px;
}

.red-bg { background-color: #ff5e5e; }

.card h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #0b1c35;
}

.card p {
    font-size: 14px;
    color: #777;
    line-height: 1.5;
}
.brain-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
}
.content-box {
  flex: 1;
  padding-left: 50px;
}
.Main-line {
  color: green; 
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px
}
.content-box h1 {
  color: black; 
  font-size: 45px;
  line-height: 50px;
  margin: 0 0 20px 0;
}
.main-text {
  color: #627382;
}
.list {
  list-style: none;
  padding: 0;
}
.list li {
  font-size: 16px;
  font-weight: 600;
  color: #04090e;
  margin-bottom: 15px;
  padding-left: 35px;
  position: relative;
  text-align: left;
}
.challange-section {
  background-color: #FFFFFF;
  padding: 0px 60px 60px 60px; 
  display: flex;
  justify-content: center;
}
.challange-container{
    background-color: #f7f6f2;
    border-radius: 12px;
    text-align: center;
    padding: 60px 160px;
}
.headline {
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin-bottom: 24px;
}
.subtext {
  font-size: 24px;
  color: #627382;
  margin-bottom: 40px;
}
.access-btn{
    background-color:#30B868;
    border: none;
    padding:12px 16px ;
    border-radius: 5px;
    font-size: 20px;
    font-weight:bold ;
    color: white;
    cursor: pointer;
}
.access-btn:hover{
    background-color: #af0707;
}

.footer-text {
  margin-top: 24px;
  font-size: 14px;
  color: #627382;
}
/* ###(footer-section) */
.footer-section {
  background-color: #031d35;
  padding: 60px 0 30px 0;
}

.footer-container {
  max-width: 1600px; 
  margin: 0 auto;
  padding: 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  margin-bottom: 40px;
}

.footer-logo img {
  height: 50px; 
}

.social-links-container h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: right;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(2); 
}

.icons img:hover {
  opacity: 0.5;
}

.footer-divider {
  border-top: 1px solid gray; 
}

.footer-bottom {
  text-align: center;
  font-size: 24px;
  color: white;
}
.social-links-container h3, .icons {
    color: white;
    text-align: center;
    justify-content: center;
  }

